<!doctype html>
<html>

<head>
    <title>Sacon - Search</title>
    <link rel="icon" href="{{ url_for('static', filename='cropped-saconlogo-small-32x32.png') }}"
        sizes="32x32">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <style>
        .navbar-nav { 
            margin-left: auto; 
        }
        .nav-con{
            color: white;
            justify-content: center;
            align-items: center;
            padding-right:3rem;
        } 
    </style>

</head>

<body background-color="red" data-spy="scroll" data-target="#navbar" id="los" data-offset="150"
    style="background-color: #eee;">
    <div id="top" style="background-color: #28a745;">
        <image src="{{ url_for('static', filename='saconlogo.png') }}" class="img-responsive  center-block"
            alt="Responsive image" height=80></image>
    </div>
    <nav class="navbar  navbar-expand-md navbar-dark bg-success" style="padding-top: 0%;">
        <a class="navbar-brand" href="https://www.sacon.in/">
            SACON
        </a>

        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>


        <div class="navbar-collapse collapse w-100 order-3 dual-collapse2 justify-content-end" id="navbarCollapse">
            <ul class="navbar-nav ">
                <!-- <li class="nav-item active">
                    <a class="nav-link" href="https://www.sacon.in/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li> -->
                <li class="nav-item nav-con" style="padding-left: 10%;" >
                    <span >Modify Data </span>    
                </li>
                <li class="nav-item nav-con" style="padding-left: 5%;">
                    <span >Welcome {{name}}</span>    
                </li>
                <li class="nav-item nav-con logout-text" style="padding-left: 5%;">
                    <span id="logout" onclick="logout()" >Logout</span>
                </li>
                
            </ul>
        </div>
    </nav>
    <div class="upload-form">
        <div class="admin-upload-header">
            Upload Thesis
        </div>
        <form action="http://localhost:5000/upload" method="POST" enctype="multipart/form-data">
            <label for="Author" class="upload-form-header">Author name:</label><br>
            <input type="formtext" name="Author"><br>
            <label for="Title" class="upload-form-header">Title:</label><br>
            <input type="formtext" name="Title"><br>
            <label for="Year" class="upload-form-header">Year:</label><br>
            <input type="formtext" name="Year"><br>
            <label for="Year" class="upload-form-header">Academic department:</label><br>
            <input type="formtext" name="department"><br>
            <label for="Year" class="upload-form-header">City:</label><br>
            <input type="formtext" name="City"><br>
            <label for="Year" class="upload-form-header">No. of pages:</label><br>
            <input type="formtext" name="pages"><br>
            <label for="Type" class="upload-form-header">Type:</label><br>
            <input type="formtext" name="Type"><br>
            <label for="University" class="upload-form-header">University:</label><br>
            <input type="formtext" name="University"><br>
            <label for="Keywords" class="upload-form-header">Keywords:</label><br>
            <textarea name="Keywords" class="upload-form-textarea" rows="10" cols="30">

            </textarea>
            <input type="file" class="upload-file button" name="file" />
            <input type="submit" class="submit-upload-form" />
        </form>
    </div>


</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.3/pdfobject.min.js"
    integrity="sha512-bHO4iqeyo1tN+C4qnbroCQ5Hxi3aJcEszT0iOt2nkuXZXQf369U3PUsnoN/ebnKQ5V2iS326OIv9pgXxL+F/kQ=="
    crossorigin="anonymous"></script>
<script>

    // Get the modal
    var modal = document.getElementById('id01');

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    function logout() {
        //var Label_name = data.getAttribute("data-label");
        
        var item = localStorage.getItem("lastname");
        console.log("LogOut",'{{name}}','{{token}}');
        $.get("/logout",{"Token":'{{token}}'});
        post("/admin");
        //url = "https://firebasestorage.googleapis.com/v0/b/sacon-250805.appspot.com/o/TD-000005.pdf?alt=media";
    }	



    function post(path, params, method='post') {
     const form = document.createElement('form');
     form.method = method;
     form.action = path;

     for (const key in params) {
         if (params.hasOwnProperty(key)) {
             const hiddenField = document.createElement('input');
             hiddenField.type = 'hidden';
             hiddenField.name = key;
             hiddenField.value = params[key];

             form.appendChild(hiddenField);
         }
     }

     document.body.appendChild(form);
     form.submit();
 }
</script>