<!doctype html>
<html>

<head>
    <title>Sacon - Search</title>
    <link rel="icon" href="{{ url_for('static', filename='cropped-saconlogo-small-32x32.png') }}"
        sizes="32x32">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet"
        id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-3.1.1.min.js"> </script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">

    <link href="https://fonts.googleapis.com/css?family=Cookie" rel="stylesheet" type="text/css">


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>

    <style>
        #error {
            color: #D6A614;
            display: none;
            padding-left: 33%;
            padding-bottom: 5%;
        }
    </style>

</head>

<body background-color="red" data-spy="scroll" data-target="#navbar" id="los" data-offset="150"
    style="background-color: #eee;">
    <div id="top" style="background-color: #28a745;">
        <image src="{{ url_for('static', filename='saconlogo.png') }}" class="img-responsive  center-block"
            alt="Responsive image" height=80></image>
    </div>
    <div class="admin-form-container">
        <div class="admin-login-header">Admin Login</div>
        <form class="admin-form" autocomplete="on">
            <input id="Uname" class="fadeIn second admin-username" name="login" placeholder="Email">
            <input type="password" id="password" class="fadeIn second admin-password" name="login"
                placeholder="Password">
            <input type="button" onclick="myclick()" class="fadeIn fourth admin-login-btn" value="Log In">
        </form>
        <span id="error">Username did not match with password!!</span>
    </div>
</body>

</html>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfobject/2.2.3/pdfobject.min.js"
    integrity="sha512-bHO4iqeyo1tN+C4qnbroCQ5Hxi3aJcEszT0iOt2nkuXZXQf369U3PUsnoN/ebnKQ5V2iS326OIv9pgXxL+F/kQ=="
    crossorigin="anonymous"></script>
<script>


$(document).ready(function(){ 
  var token = localStorage.getItem("Token");  
  console.log(token);
  $.post("/auto_login",{"Token":token},function(data){
      console.log(data);
      if (data == "200"){
          console.log("200")
      }
      else{
          post("/upload_form",{"Token":token})
      }
  });
});

function post(path, params, method='post') {
     const form = document.createElement('form');
     form.method = method;
     form.action = path;

     for (const key in params) {
         if (params.hasOwnProperty(key)) {
             const hiddenField = document.createElement('input');
             hiddenField.type = 'hidden';
             hiddenField.name = key;
             hiddenField.value = params[key];

             form.appendChild(hiddenField);
         }
     }

     document.body.appendChild(form);
     form.submit();
 }

    function myclick() {
        var user_name = document.getElementById("Uname").value;
        var pass = document.getElementById("password").value;
        console.log(user_name, "yfty", "ver", pass, user_name);

        $.ajax({
            type: "POST",
            url: "/login",
            data: { Uname: user_name, Password: pass },
            success: function (response) {
                if (response == "400") {
                    console.log("Username did not match with password!!")
                    document.getElementById("error").style.display = "block";
                }
                else {
                    console.log(response);
                    localStorage.setItem("Token", response.token);
                   
                    window.location.href = response.redirect;
                }

            }
        });

    }

</script>